.message-container {
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
}

.message-container span {
    min-height: 30px;
    max-width: 300px;
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
}

.send {
    background-color: brown;
}

.get {
    background-color: chartreuse;
}